<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moblist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <button><a href="http://localhost:8080">Home</a></button>
    <table class="table">
        <thead>
        <tr>
            <th>
                Mobname
            </th>
            <th>
                Mobhealth
            </th>
            <th>
                Mobspeed
            </th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="m : ${mob}"> <!-- gibt alle mobs aus -->
                <td th:text="${m.mobName}"></td>
                <td th:text="${m.mobHealth}"></td>
                <td th:text="${m.mobSpeed}"></td>
                <td><a th:href="@{/mob/edit(id=${m.id})}">Edit Mob</a></td> <!-- nimmt den Mob der zum ändern ist -->
                <td><a th:href="@{/mob/delete(id=${m.id})}">delete Mob</a></td> <!-- nimmt den Mob der zum löschen ist -->
            </tr>
        </tbody>
    </table>
    <a href="/mob/add">New Mob</a>
</body>
</html>